body {
    font-family: Arial, sans-serif;
    line-height: 1.4em;
    background: #eaeaea;
}

.container {}

#card {
    padding: 30px;
    border: 1px solid gray;
    font-size: 1.6em;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

p.dim {
    color: #343434;
}

div.container {
    margin: auto;
}

h2 {
    margin: 20px 0 20px 0;
}

textarea {
    width: 100%;
    height: 20%;
}

p {
    text-align: justify;
}
